<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <link rel="author" content="{{author.name}}" href="{{author.twitter.href}}"/>

    <link href="fonts/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header id="header">
      <div class="trim-color-block yellow-back"></div>
      <div class="trim-color-block amber-back"></div>
      <div class="trim-color-block orange-back"></div>
      <div class="trim-color-block sunset-back"></div>
      <div class="trim-color-block red-back"></div>
      <div class="trim-color-block fuchsia-back"></div>
      <div class="trim-color-block purple-back"></div>
      <div class="trim-color-block indigo-back"></div>
      <div class="trim-color-block blue-back"></div>
      <div class="trim-color-block aqua-back"></div>
      <div class="trim-color-block green-back"></div>
      <div class="trim-color-block lime-back"></div>
      <div class="header">
        <a class="hover-link"><img src="fonts/logo.png"/></a>
        <a class="hover-link"><i class="fa fa-github"></i></a>
        <a class="hover-link"><i class="fa fa-twitter"></i></a>
      </div>
    </header>

    <div id="content" class="container">

      <section id="intro">

        <div id="intro-title">
          <div class="golden-col-md-narrow">
            <img src="img/joe.jpg" class="intro-img hover-img img-circle img-responsive center-block">
          </div>
          <div class="golden-col-md-wide text-center">
            <h1 class="intro-title-header"><a class="hover-link">@jomrcr</a></h1>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="intro-summary">
          <div class="golden-content center-block">
            <p>Hey folks, I'm Joe Mercer and I write code for <a class="hover-link">Noom</a> in NYC. Previously I worked at <a class="hover-link">Tagged</a> in San Francisco and <a class="hover-link">Bazaarvoice</a> in Austin. I also study math at the <a class="hover-link">University of Waterloo</a> in Canada. I grew up in Redmond, near Seattle. <a class="hover-link">Give me a hollar</a> - I love meeting new people!</p>
          </div>
        </div>

      </section>

      <nav class="nav-container">
        <ul class="nav hide">
          <li class="nav-item">
            <a class="">Projects</a>
          </li>
          <li class="nav-item">
            <a class="">Posts</a>
          </li>
          <li class="nav-item">
            <a class="">Pics</a>
          </li>
        </ul>
        <i class="fa fa-plus toggle-nav"></i>
      </nav>

      <section id="projects" class="row">
        <div class="golden-col-md-narrow text-center">
          <h2>{{projects.label}}</h2>
        </div>
        <div class="golden-col-md-wide">
          {{#each projects.items}}
            <p><a class="hover-link">{{title}}</a> - {{summary}}</p>
          {{/each}}
        </div>
      </section>

      <section id="posts" class="row">
        <div class="golden-col-md-narrow golden-col-md-wide-push text-center">
          <h2>Posts</h2>
        </div>
        <div class="golden-col-md-wide golden-col-md-narrow-pull">
          <div class="golden-col-md-narrow text-center">
            <p>~2014~</p>
          </div>
          <div class="golden-col-md-wide">
            <p><a>Groups vs Teams</a> <small>#code #ideas #awesome</small></p>
            <p><a>The Galaxy - Close but Yet So Far</a> <small>#rambling #chill</small></p>
          </div>
          <div class="golden-col-md-narrow text-center">
            <p>~2013~</p>
          </div>
          <div class="golden-col-md-wide">
            <p><a>What? A bear!</a></p>
          </div>
        </div>
      </section>

      <section id="pics" class="row">
        <div class="golden-col-md-narrow text-center">
          <h2>Pics</h2>
        </div>
        <div class="golden-col-md-wide">
          <p><img src="http://placehold.it/400x400" class="center-block img-responsive"/></p>
          <p><img src="http://placehold.it/400x400" class="center-block img-responsive"/></p>
          <p><img src="http://placehold.it/400x400" class="center-block img-responsive"/></p>
          <p><img src="http://placehold.it/400x400" class="center-block img-responsive"/></p>
        </div>
      </section>

    </div>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>