<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{title}}</title>
    <meta name="description" content="{{description}}"/>
    <link rel="author" content="{{joe.name}}" href="{{joe.twitter.href}}"/>

    <link href="fonts/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href='http://fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/styles.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <header id="header">
      <div class="trim-color-block yellow-back"></div>
      <div class="trim-color-block amber-back"></div>
      <div class="trim-color-block orange-back"></div>
      <div class="trim-color-block sunset-back"></div>
      <div class="trim-color-block red-back"></div>
      <div class="trim-color-block fuchsia-back"></div>
      <div class="trim-color-block purple-back"></div>
      <div class="trim-color-block indigo-back"></div>
      <div class="trim-color-block blue-back"></div>
      <div class="trim-color-block aqua-back"></div>
      <div class="trim-color-block green-back"></div>
      <div class="trim-color-block lime-back"></div>
      <div class="header container">
        <div class="header-inner">
          <a class="hover-link"><img src="fonts/logo.png" class="header-icon-image"/></a>
          <a href="{{joe.github.href}}" target="_blank" class="hover-link"><i class="fa fa-github"></i></a>
          <a href="{{joe.twitter.href}}" target="_blank" class="hover-link"><i class="fa fa-twitter"></i></a>
        </div>
      </div>
    </header>

    <div id="content" class="container">

      <section id="intro">

        <div id="intro-title">
          <div class="golden-col-md-narrow">
            <img src="img/jomrcr.jpg" class="intro-img hover-img img-circle img-responsive center-block">
          </div>
          <div class="golden-col-md-wide text-center">
            <h1 class="intro-title-header"><a href="{{joe.twitter.href}}" target="_blank" class="hover-link">@jomrcr</a></h1>
          </div>
          <div class="clearfix"></div>
        </div>

        <div id="intro-summary">
          <div class="golden-content center-block">
            <p>Hey folks, I'm Joe Mercer and I write code for <a href="{{noom.href}}" target="_blank" class="hover-link">{{noom.label}}</a> in NYC. Previously I worked at <a href="{{tagged.href}}" target="_blank" class="hover-link">{{tagged.label}}</a> in San Francisco and <a href="{{bazaarvoice.href}}" target="_blank" class="hover-link">{{bazaarvoice.label}}</a> in Austin. I also study math at the <a href="{{uWaterloo.href}}" target="_blank" class="hover-link">{{uWaterloo.label}}</a> in Canada. I grew up in Redmond, near Seattle. I love meeting new people. Say <a href="mailto:{{joe.email}}?Subject=Hello!" target="_top" class="hover-link">hello</a>!</p>
          </div>
        </div>

        <nav class="nav-container">
          <div class="nav-inner-container">
            <div class="header-cover header-inner hide">
              <a class="hover-link"><img src="fonts/logo.png" class="header-icon-image"/></a>
              <a href="{{joe.github.href}}" target="_blank" class="hover-link"><i class="fa fa-github"></i></a>
              <a href="{{joe.twitter.href}}" target="_blank" class="hover-link"><i class="fa fa-twitter"></i></a>
            </div>
            <ul class="nav hide">
              <li class="nav-item opacity-hide nav-item-transition-1">
                <a class="scroll-to" data-scroll-target="#projects">Projects</a>
              </li>
              <li class="nav-item opacity-hide nav-item-transition-2">
                <a class="scroll-to" data-scroll-target="#posts">Posts</a>
              </li>
              <li class="nav-item opacity-hide nav-item-transition-3">
                <a class="scroll-to" data-scroll-target="#pics">Pics</a>
              </li>
            </ul>
            <i class="fa fa-plus nav-icon toggle-nav rotate-effect"></i>
          </div>
        </nav>
        <div class="nav-fixed-buffer hide">
        </div>

      </section>

      <section id="projects" class="row">
        <div class="golden-col-md-narrow text-center">
          <h2>{{projects.label}}</h2>
        </div>
        <div class="golden-col-md-wide">
          {{#each projects.items}}
            <p><a class="hover-link">{{title}}</a> - {{summary}}</p>
          {{/each}}
        </div>
      </section>

      <section id="posts" class="row">
        <div class="golden-col-md-narrow golden-col-md-wide-push text-center">
          <h2>Posts</h2>
        </div>
        <div class="golden-col-md-wide golden-col-md-narrow-pull">
          <p class="text-center" style="font-size:1.8rem;">Coming soon!</p>
        </div>
      </section>

      <section id="pics" class="row">
        <div class="golden-col-md-narrow text-center">
          <h2>Pics</h2>
        </div>
        <div class="golden-col-md-wide">
          <p class="text-center" style="font-size:1.8rem;">Coming soon!</p>
        </div>
      </section>

    </div>

    <footer id="footer">
      <div class="footer container text-right">
        <span>Made by <a href="{{joe.twitter.href}}" target="_blank">@jomrcr</a> in New York City</span>
        <img src="fonts/logo.png" class="footer-icon-image"/>
      </div>
    </footer>

    <script type="text/javascript" src="js/main.js"></script>
  </body>
</html>